@media screen and (min-width: 800px) {
    *{
        margin: 0;
        padding: 0;
        font-family: cursive;
    }
    body{
        background-color: rgb(151, 151, 151);
    }
    .nav-bar{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgb(80, 79, 79);
        justify-content: space-around;
    }
    .imgs-container{
        display: flex;
        width: 50%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .logo{
        width: 100px;
        height: 70px;
    }
    .links{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .links a:hover {
        color: white;
    }
    .links a{
        color: black;
        text-decoration: none;
        font-size: larger;
    }
    .products{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .rows{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
    .t-shirts{
        border: 0.8px gray solid;
        border-radius: 10px;
        height: 80%;
        width: 20%;
    }
}