@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        font-family: cursive;
    }
    body{
        background-color: rgb(115, 117, 117);
    }
    .navbar{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgb(80, 79, 79);
        justify-content: space-around;
    }
    .imgs-container{
        display: flex;
        width: 30%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .logo{
        width: 60px;
        height: 40px;
    }
    .links{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .links a{
        color: black;
        text-decoration: none;
        font-size: xx-small;
    }
    .products{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow-y: auto;
    }
    .rows{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
    }
    .t-shirts{
        border: 0.8px gray solid;
        border-radius: 10px;
        height: 80%;
        width: 20%;
    }
    .product{
        width: 200px;
        height: 300px;
    }
}