@media screen and (max-width: 799px) {
    *{
        margin: 0;
        padding: 0;
        font-family: cursive;
    }
    body{
        background-color: rgb(115, 117, 117);
    }
    .nav-bar{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        background-color: rgb(80, 79, 79);
        justify-content: space-around;
    }
    .imgs-container{
        display: flex;
        width: 30%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .logo{
        width: 90px;
        height: 60px;
    }
    .links{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .links a{
        color: black;
        text-decoration: none;
        font-size: medium;
    }
    .links a:hover {
        color: white;
    }
    .products{
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .rows{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }
    .t-shirts{
        border: 0.8px gray solid;
        border-radius: 10px;
        height: 80%;
        width: 20%;
    }
    .product{
        height: auto;
    }
}